@import url(http://weloveiconfonts.com/api/?family=brandico);/* Global Styles */

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}

p,
li,
a,
small {
  font-family: 'Poppins', sans-serif;
}

/* Font hierarchy */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
  }

  h3 {
    font-size: 1.375em;
  }
}

/* Button */

.button_ninoycancer {
  background-color: #373693;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  padding-margin-top: 0.7rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.button_ninoycancer:hover {
  background-color: rgba(51, 95, 255, 0.1);
  color: #325DFF;
}

/* Header */

/* NavBar */

.jumbotron-header {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar_ninoycancer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #22222261;
  border: none;
  color: white;
  position: fixed;
}

.navbar-nav li a {
  color: white;
  text-shadow: none;
  text-shadow-text-transform: uppercase;
}

.nav {
  margin-right: 130px;
}

.nav li a:hover {
  background-color: initial;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  background-color: #14141491;
}

.icon-bar {
  background-color: #fff;
}

.button_ninoycancer {
  margin-top: 10px;
  margin-left: 25px;
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    padding: 10px;
    padding-left: 30px;
  }

  .carousel-caption {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 767px) {
  .navbar-brand {
    padding: 10px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    padding: 10px;
    padding-left: 200px;
  }

  .carousel-caption {
    padding-bottom: 200px;
  }
}

/* Carrousel */

.mi-carousel {
  top: 0;
}

/* Noticias */

.noticias {
  text-align: center;
  padding: 4rem 10vw 10rem 10vw;
}

.noticias container-fluid,
.container-fluid {
  padding-bottom: 20px;
}

.noticias__inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0rem 0rem;
  margin: 3rem 1rem;
  background-color: #fbfbfb;
  margin-right: 0;
  margin-left: 0;
}

.noticias__inner .text__inner {
  padding: 1rem 0.5vw 1rem 2vw;
  text-align: left;
}

.noticias__inner .text__inner p {
  font-size: 0.8em;
  color: #909090;
  margin-bottom: 0;
}

.noticias a {
  font-size: 1rem;
  color: #373693;
}

.noticias h5 {
  font-size: 1em;
  color: #565656;
}

/* Donacion */

.jumbotron-donacion {
  background-image: url(../images/ninos-background.png?d73a4a29d5480fa91771bd7306a08df8);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 0;
}

.jumbotron-donacion .titulo__inner {
  text-shadow: none;
}

.jumbotron-donacion h3,
h4 {
  font-weight: 300;
}

.voluntariado__inner p,
.donacion__inner p {
  color: white;
  font-size: 1em;
}

.voluntariado__inner a,
.donacion__inner a {
  margin-left: 0;
}

@media only screen and (max-width: 400px) {
  .titulo__inner {
    margin-top: 0;
  }

  h3 {
    margin-top: 5px;
  }

  .titulo__inner h4 {
    /* borrar h4 en responsive*/
  }

  .voluntariado__inner p,
  .donacion__inner p {
    margin-bottom: 0;
  }

  .donacion__inner {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 767px) {
  .titulo__inner {
    margin-top: 0;
  }

  h3 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .titulo__inner {
    margin-top: 80px;
  }

  h3 {
    margin-top: 10px;
  }
}

/* Colabora */

.colabora {
  text-align: center;
  padding: 4rem 10vw 10rem 10vw;
}

.colabora container-fluid,
.container-fluid {
  padding-bottom: 55px;
}

.colabora__inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0rem 0rem;
  margin: 3rem 1rem;
  background-color: #0080bf;
  margin-right: 0;
  margin-left: 0;
  height: 60px;
}

.colabora__inner .text__inner {
  padding: 1rem 0 1rem 0;
}

.colabora__inner .text__inner .icono p {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 0;
  float: left;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.colabora a {
  font-size: 1rem;
  color: #373693;
}

.icono,
.fas {
  color: white;
}

.colabora h5 {
  font-size: 1em;
  color: #ffffff;
  padding-left: 5px;
  margin-top: 0;
}

.mi-mapa {
  margin-bottom: 0;
  padding-bottom: 250px;
}

app.sassbody {
  background: black;
  font-size: 30px;
}

.container {
  background: black;
}

.container p {
  font-size: 40px;
}

/* brandico */

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  margin-top: 50px;
  padding-left: 0;
  width: 170px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.social-buttons li a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}

ul.social-buttons li a.brandico-vimeo {
  background-color: #4EBBFF;
}

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}

/*Demo 1*/

#demo1 {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0;
}

ul#demo1 li a {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

ul#demo1 li:hover a {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer-jumbotron {
  margin-bottom: 0;
  background-image: url(../images/ninos-background-2.png?679714a970b2b0778eccc5f112ec4100);
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer-jumbotron .button_ninoycancer {
  margin-left: 0;
  margin-top: 0;
}

.footer__inner {
  padding-left: 30px;
}

.footer__inner ul {
  padding: 20px;
  padding-bottom: 0;
}

.footer__inner h3 {
  padding-left: 15px;
}

.end {
  background-color: #2c2c31;
  padding: 10px;
  text-align: center;
}

.end p {
  color: white;
  font-weight: 300;
}

